
{{ 'framer-home-team.css' | asset_url | stylesheet_tag }}

<section class="fh-sticky-team">
  <div class="page-width">
    <div class="fh-sticky-team-wrapper">
      {% for block in section.blocks %}
        <div
          class="fh-team-card layout-{{ block.settings.image_position }}"
          {{ block.shopify_attributes }}
        >
          {% if block.settings.image_position != 'top' %}
            <div class="fh-team-image">
              {% if block.settings.image != blank %}
                <img
                  src="{{ block.settings.image | image_url: width: 1200 }}"
                  alt="{{ block.settings.name }}"
                  loading="lazy"
                  width="100"
                  height="100"
                >
              {% endif %}
            </div>
          {% endif %}

          <div class="fh-team-content align-{{ block.settings.content_alignment }}">
            <h2>{{ block.settings.name }}</h2>

            <p>{{ block.settings.description }}</p>

            {% if block.settings.button_label != blank %}
              <a class="fh-team-btn" href="{{ block.settings.button_link }}">
                {{ block.settings.button_label }}
              </a>
            {% endif %}
          </div>

          {% if block.settings.image_position == 'top' %}
            <div class="fh-team-image">
              {% if block.settings.image != blank %}
                <img
                  src="{{ block.settings.image | image_url: width: 1200 }}"
                  alt="{{ block.settings.name }}"
                  loading="lazy"
                  width="100"
                  height="100"
                >
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Framer Sticky Team",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Framer Sticky Team",
      "blocks": [{ "type": "team_member" }, { "type": "team_member" }]
    }
  ],
  "blocks": [
    {
      "type": "team_member",
      "name": "Team Member",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Member Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Lucas Sandidge"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Add description about this team member."
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "Image Position",
          "default": "right",
          "options": [
            { "value": "left", "label": "Image Left" },
            { "value": "right", "label": "Image Right" },
          ]
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content Alignment",
          "default": "left",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
